<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GradeHistory</title>
</head>
<body>
<a href="/profile/"> User Profile </a>
<a href="/gradecal/">grade calculator</a>
<a href="/gradhist/"> Grade History</a>
<a href="/cd/"> Course Advisor</a>
<a href="/cp/"> Full course path</a>
    <h1>Grade history</h1>
    <table class="table">
                <thead>
                  <tr>
                    <th>Course name</th>
                    <th>Course grade</th>
                      <th>CGPA</th>
                      <th>Course Semester</th>
                      <th> Category</th>

                  </tr>
                </thead>
                <tbody>
                      {% for grd in gradedata %}
                          <tr>
                          <td>{{ grd.Course_name }}</td>
                          <td>{{ grd.grade }}</td>
                              <td>{{grd.grdpa}}</td>
                          <td>{{ grd.semnum }}</td>
                          </tr>
                      {% endfor %}

                </tbody>
              </table>


</body>
</html>